*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CE6C47;
    font-family: sans-serif;
}

.Wrapper{
    background: #000;
    width: 80vmin;
    position: absolute;
    top: 20%;
    left: 30%;
    border-radius: 12px;
    padding: 50px 40px;
    box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
    
}
span{
    font-size: 90px;
    display: block;
    text-align: center;
}
p{
    color: #fff;
    word-wrap: break-word;
    font-size: 1.75rem;
    text-align: center;
    font-weight: 400;
    line-height:35px;
    margin: 30px 0;
}
button{
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #241E4E;
    padding: 16px;
    border-radius:12px;
    color: #fff;
    transition: 0.5s;
    font-size: 18px;
}
button:hover{
    background-color:  #352c6d ;
}
